@page "/Account/AccessDenied"
@attribute [AllowAnonymous]

<PageTitle>Access Denied</PageTitle>

<div class="alert alert-warning m-4" role="alert">
    <h4 class="alert-heading">Access Denied</h4>
    You do not have permission to access this page.
    <div class="mt-2"><a href="/">Back to home</a></div>
</div>
